* {
	margin: 0;
	padding: 0;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}

body{
	background: #f8dbda;
}

.chatbox_white{
	width: 60%;
	min-width: 390px;
	height: 90%;
	background: #fff;
	padding: 25px;
	margin: 20px auto;
	box-shadow: 0 3px #ccc;
}

.chat .user-photo{
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.chatlogs{
	padding: 10px;
	width: 100%;
	height: 450px;
	background: #eee;
	overflow-x: hidden;
	overflow-y: scroll;
}

@media only screen and (max-width: 800px) {

	.chatlogs{
    padding: 10px;
    width: 100%;
    height: -webkit-fill-available;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll;
	}

	.chatbox_white {
    width: 100%;
    min-width: 390px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
	}
	.chat .user-photo{
		width: 60px;
		height: 60px;
		background: #ccc;
		border-radius: 50%;
		overflow: hidden;
	}
	
}

@media only screen and (max-width: 480px){
	.chatlogs{
    padding: 10px;
    width: 100%;
    height: -webkit-fill-available;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll;
	}

	.chatbox_white {
    width: 100%;
    min-width: 390px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
	}

	.chat .user-photo{
		width: 40px;
		height: 40px;
		background: #ccc;
		border-radius: 50%;
		overflow: hidden;
	}
	
	.chat .user-photo img{
		width: 100%;
	}
	
	.chat .chat-message{
		width: 80%;
		padding: 15px;
		margin: 5px 10px 0;
		background: #1ddced;
		border-radius: 10px;
		color: #fff;
		font-size: 18px;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
	
}


.chatlogs::-webkit-scrollbar{
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}


.chat .user-photo img{
	width: 100%;
}
.chat .chat-message{
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0;
	background: #1ddced;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.bot .chat-message{
	background: #dc5379;
}

.me .chat-message{
	background: #f3b7c3;
	order: -1;
}

.chat-form{
	margin-top:30px;
	display: flex;
	align-items: flex-start;
}

.chat-form textarea{
	background: #fbfbfb
	width: 80%;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 18px;
	color: #333;
}

.chat-form button{
	background: #dc5379;
	padding: 5px 15px;
	font-size: 30px;
	color: #fff;
	border: none;
	margin: 0 10px;
	border-radius: 3px;
	box-shadow: 0 3px 0 #0eb2c1;
	cursor: pointer;
	
	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-o-transition: background .2s ease;
}

.chat-form button:hover{
	background: #13c8d9;
}


/*CSS dari Ferdy */


/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  div.scroll { 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; 
} 